<div class="container">
    <div class="form-group" >
        <label for="uname">UserName</label>
        <input type="text" [(ngModel)]="uname" class="form-control" required>
        

    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" [(ngModel)]="pwd" class="form-control"  required>
        

    </div>

    <div class="form-group">
    <button (click)="validate()">Login</button>&nbsp;&nbsp;<br>
    <a [routerLink]="'/home/registerbuyer'"  >Register New Buyer</a>&nbsp;&nbsp;<br>
    <a [routerLink]="'/home/registerseller'" >Register New Seller</a>          
    </div>
   
    <div class="form-group ">
        <label class="text-error ">{{errormessage}}</label>
        </div>
       
        
</div>