<div class="card m-1" style="width:100%;align-items: center;">
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>Category Id</th>
                <th>Sub Category Id</th>
                <th>BriefDetails</th>
               <th>Sub Category Name</th>
               <th>GST</th>


                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let item of list">
               <td>{{item.categoryid}}</td>
               <td>{{item.subCategoryid}}</td>
               <td>{{item.briefDetails}}</td>
               <td>{{item.subCategoryname}}</td>
               <td>{{item.gstin}}</td>
               <td><button class="btn btn-primary mr-1" type="button">Edit</button></td>
               <td><button class="btn btn-danger mr-1" type="button" (click)="Delete(item.Catgeoryid)">Delete</button></td>
            </tr>
        </table>
    </div>
    </div>

