<style>
    label{
        color:black
    }
</style>
<div class="container card col-md-4" style="height: 300;background-color:transparent;">
    <div class="card-body" >
        <form [formGroup]="sellerregisterform" (ngSubmit)="onSubmit()"  >
            <div class="form-group">
                    <label>ID</label>
                    <input type="number" formControlName="Sellerid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Sellerid.errors }">
                       <div *ngIf="submitted && f.Sellerid.errors" class="invalid-feedback">
                        <div *ngIf="f.Sellerid.errors.required">ID is required</div>
                    </div>
           </div>
            <div class="form-group">
                    <label>User Name</label>
                    <input type="text" formControlName="Sellername" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Sellername.errors }" />
                    <div *ngIf="submitted && f.Sellername.errors" class="invalid-feedback">
                        <div *ngIf="f.Sellername.errors.required">Name is required</div>
                    </div>
             </div>
            <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" formControlName="Companyname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Companyname.errors }" />
                    <div *ngIf="submitted && f.Companyname.errors" class="invalid-feedback">
                        <div *ngIf="f.Companyname.errors.required">company name is required</div>
                    </div>
            </div>
            <div class="form-group">
                <label>Breif about Company</label>
                <input type="text" formControlName="BriefAboutCompany" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.BriefAboutCompany.errors }" />
                <div *ngIf="submitted && f.BriefAboutCompany.errors" class="invalid-feedback">
                    <div *ngIf="f.BriefAboutCompany.errors.required">about company is required</div>
                </div>
        </div>
        <div class="form-group">
            <label>Postal Adress</label>
            <input type="text" formControlName="PostalAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.PostalAddress.errors }" />
            <div *ngIf="submitted && f.PostalAddress.errors" class="invalid-feedback">
                <div *ngIf="f.PostalAddress.errors.required">postal address is required</div>
            </div>
    </div>
    <div class="form-group">
        <label>GSTIN</label>
        <input type="text" formControlName="Gstin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Gstin.errors }">
           <div *ngIf="submitted && f.Gstin.errors" class="invalid-feedback">
            <div *ngIf="f.Gstin.errors.required">GSTIN is required</div>
        </div>
</div>

            
          <div class="form-group">
                <label>Mobile</label>
                <input type="text" value="+91" readonly size="2"/><input type="number" formControlName="Sellermobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.smobile.errors }" />
                <div *ngIf="submitted && f.Sellermobile.errors" class="invalid-feedback">
                    <div *ngIf="f.Sellermobile.errors.required">Mobile no is required</div>
                    <div *ngIf="f.Sellermobile.errors.pattern">Mobile no Must be Valid</div>
                </div>
            
         </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="Sellermail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Sellermail.errors }" />
                <div *ngIf="submitted && f.Sellermail.errors" class="invalid-feedback">
                    <div *ngIf="f.Sellermail.errors.required">Email is required</div>
                    <div *ngIf="f.Sellermail.errors.semail">Email must be a valid email address</div>
                </div>
            </div>
               <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="Sellerpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Sellerpassword.errors }" />
                    <div *ngIf="submitted && f.Sellerpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.Sellerpassword.errors.required">Password is required</div>
                    </div>
                </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Edit Profile</button>
          </div>
        </form>
    </div>
</div>



