<style>
    label{
        color:black
    }
</style>
<div class="container card col-md-4" style="height: 300;background-color:transparent;">
    <div class="card-body" >
        <form [formGroup]="sellerregisterform" (ngSubmit)="onSubmit()"  >
            <div class="form-group">
                    <label>ID</label>
                    <input type="number" formControlName="sellerid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sellerid.errors }">
                       <div *ngIf="submitted && f.sellerid.errors" class="invalid-feedback">
                        <div *ngIf="f.sellerid.errors.required">ID is required</div>
                    </div>
           </div>
            <div class="form-group">
                    <label>User Name</label>
                    <input type="text" formControlName="sellername" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sellername.errors }" />
                    <div *ngIf="submitted && f.sellername.errors" class="invalid-feedback">
                        <div *ngIf="f.sellername.errors.required">Name is required</div>
                    </div>
             </div>
            <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" formControlName="companyname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }" />
                    <div *ngIf="submitted && f.companyname.errors" class="invalid-feedback">
                        <div *ngIf="f.companyname.errors.required">company name is required</div>
                    </div>
            </div>
            <div class="form-group">
                <label>Breif about Company</label>
                <input type="text" formControlName="briefAboutCompany" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.briefAboutCompany.errors }" />
                <div *ngIf="submitted && f.briefAboutCompany.errors" class="invalid-feedback">
                    <div *ngIf="f.briefAboutCompany.errors.required">about company is required</div>
                </div>
        </div>
        <div class="form-group">
            <label>Postal Adress</label>
            <input type="text" formControlName="postalAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.postalAddress.errors }" />
            <div *ngIf="submitted && f.postalAddress.errors" class="invalid-feedback">
                <div *ngIf="f.postalAddress.errors.required">postal address is required</div>
            </div>
    </div>
    <div class="form-group">
        <label>GSTIN</label>
        <input type="text" formControlName="gstin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gstin.errors }">
           <div *ngIf="submitted && f.gstin.errors" class="invalid-feedback">
            <div *ngIf="f.gstin.errors.required">GSTIN is required</div>
        </div>
</div>

            
          <div class="form-group">
                <label>Mobile</label>
                <input type="text" value="+91" readonly size="2"/><input type="number" formControlName="sellermobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sellermobile.errors }" />
                <div *ngIf="submitted && f.sellermobile.errors" class="invalid-feedback">
                    <div *ngIf="f.sellermobile.errors.required">Mobile no is required</div>
                    <div *ngIf="f.sellermobile.errors.pattern">Mobile no Must be Valid</div>
                </div>
            
         </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="sellermail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sellermail.errors }" />
                <div *ngIf="submitted && f.sellermail.errors" class="invalid-feedback">
                    <div *ngIf="f.sellermail.errors.required">Email is required</div>
                    <div *ngIf="f.sellermail.errors.semail">Email must be a valid email address</div>
                </div>
            </div>
               <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="sellerpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sellerpassword.errors }" />
                    <div *ngIf="submitted && f.sellerpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.sellerpassword.errors.required">Password is required</div>
                    </div>
                </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Edit Profile</button>
          </div>
        </form>
    </div>
</div>



