<style>
    
    .div1{
      overflow: hidden;
      background-color: #e9e9e9;
    }
    
    .div1 a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 20px 30px;
      text-decoration: none;
      font-size: 19px;
    }
    
    .div1 a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .div1  a.active {
      background-color: #2196F3;
      color: white;
    }
    </style>
    <body>
    <main>
        <section>
      
            <div class="div1" style="background-color:skyblue;">
                <a  [routerLink]="'buy-product'" routerLinkActive="router-link-active" >Buy Product</a>
                <a [routerLink]="'purchase-history'" routerLinkActive="router-link-active">Purchase History</a>
                <a  [routerLink]="'search'" routerLinkActive="router-link-active">Search Item</a>
                <a [routerLink]="'view-cart'" routerLinkActive="router-link-active">ViewCart</a>
                <a (click)="logout()">LOGOUT</a>
        </div>
    
             <div>
                <router-outlet></router-outlet>
             </div>
          
             
        </section>
    </main>   
    
    </body>