<style>
    .box{
        text-align: center;;
    }
</style>

&nbsp;
&nbsp;
<form [formGroup]="searchform" >
<div class="box">
<input type="text" placeholder="Search.."  formControlName="itemname" >
&nbsp;
      <button type="submit" (click)="searchitems()">Search</button>
      </div>
    </form>
    <section  >
        <table >
            <!-- <tr *ngFor="let item of list">
                <th>{{item.itemname}}</th> -->

            <tr *ngFor="let item of list2">
               <td><img src="assets/images/{{item.imagepath}}" style="width: 200px; height:200px"><br><br>
              
               Price:      {{item.price}}<br>
               Itemname:   {{item.itemname}}<br>
               Description:{{item.description}}<br>
               Stocknumber:{{item.stocknumber}}<br>
               Remarks:    {{item.remarks}}
               <button id="bt1" (click)="buy(item)" >Buy</button><br><br>
               <button id="bt2" (click)="AddToCart(item)">AddToCart</button></td>
     
            </tr>
        </table>  
    </section>
