<div class="card m-1" style="width:100%;align-items: center; background-color:white;">
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>Category Id</th>
                <th>Category Name</th>
                <th>Brief Details</th>
               
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let item of list">
               <td>{{item.categoryid}}</td>
               <td>{{item.categoryname}}</td>
               <td>{{item.briefDetails}}</td>
               <td><button class="btn btn-primary mr-1" type="button" (click)="Update()">Edit</button></td>
               <td><button class="btn btn-danger mr-1" type="button" (click)="Delete(item.categoryid)">Delete</button></td>
            </tr>
        </table>
    </div>
    </div>