<style>
    
    .div1{
      overflow: hidden;
      background-color: #e9e9e9;
    }
    
    
    .div1 a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 20px 30px;
      text-decoration: none;
      font-size: 19px;
    }
    
    .div1 a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .div1  a.active {
      background-color: #2196F3;
      color: white;
    }
 </style>
    <div class="txt">
      <main>
         <section>
      
            <div class="div1" style="background-color:skyblue;">
                <a  [routerLink]="'add-items'" routerLinkActive="router-link-active" >Add Items</a>
                <a [routerLink]="'view-items'" routerLinkActive="router-link-active">View Items</a>
                <a  [routerLink]="'view-profile'" routerLinkActive="router-link-active">View Profile</a>
                <a [routerLink]="'view-reports'" routerLinkActive="router-link-active">View Reports</a>
                <a (click)="logout()">LOGOUT</a>
            </div>
    
             <div>
                <router-outlet></router-outlet>
             </div>
          
             
          </section>
       </main> 
    </div>  
    
  