
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: palevioletred;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  float: left;
}

li a {
  display: block;
  color:skyblue;
  text-align:center;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}
.active {
  background-color:palevioletred;
}


.img {
  background-image:url("assets/images/bgimage.jpg");
  background-size: 100% 100%;
  
  height:1120px;
}

